<div class="card-group container">

    <div class="card-group row row-cols-1 row-cols-md-3 g-4">
        <div class="card col">
            <p class="fs-3 border-bottom
            btn-outline-black border-2 mb-3">19 MAY 2023</p>
            <img src="../assets/images/event/01.jpg" class="card-img-top" alt="event1" >
            <div class="card-body">
                <p class="card-title fs-5">邪典電影派對——房間</p>
                <p class="card-text">你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
                <div class="card-footer d-flex justify-content-between border-bottom border-top btn-outline-black border-2 mt-5">
                    <a href="#" class="d-flex align-items-center text-black py-2">
                        <img src="../assets/images/sparkler.png" alt="sparkler" class="sparkler pe-1">
                        <p>社群活動</p>
                    </a>
                    <div class="d-flex align-items-center">
                        <p>開賣中</p>
                        <i class="icofont-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col">
            <p class="fs-3 border-bottom
            btn-outline-black border-2 mb-3">23 MAY 2023</p>
            <img src="../assets/images/event/02.jpg" class="card-img-top" alt="event2">
            <div class="card-body">
                <p class="card-title fs-5">邪典電影派對——房間</p>
                <p class="card-text">覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
                <div class="card-footer d-flex justify-content-between border-bottom border-top btn-outline-black border-2 mt-5">
                    <a href="#" class="d-flex align-items-center text-black py-2">
                        <img src="../assets/images/sparkler.png" alt="sparkler" class="sparkler pe-1">
                        <p>社群活動</p>
                    </a>
                    <div class="d-flex align-items-center">
                        <p>開賣中</p>
                        <i class="icofont-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col">
            <p class="fs-3 border-bottom
            btn-outline-black border-2 mb-3">30 MAY 2023</p>
            <img src="../assets/images/event/03.jpg" class="card-img-top" alt="event3">
            <div class="card-body">
                <p class="card-title fs-5">怪舞俱樂部</p>
                <p class="card-text">覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
                <div class="card-footer d-flex justify-content-between border-bottom border-top btn-outline-black border-2 mt-5">
                    <a href="#" class="d-flex align-items-center text-black py-2">
                        <img src="../assets/images/sparkler.png" alt="sparkler" class="sparkler pe-1">
                        <p>社群活動</p>
                    </a>
                    <div class="d-flex align-items-center">
                        <p>開賣中</p>
                        <i class="icofont-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
      </div>     
</div>