<div class="container">
    <div class="navbar">
        <div class="d-flex">
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/logo.png" alt="logo">
            <p class="fs-4">7TAO</p>
        </div>
        <div class="search col-4">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="探索活動" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    <span class="material-symbols-outlined">
                        search
                        </span>
                </button>
              </form>
        </div>
        <div class="nav">
        </div>
    </div>
</div>