<div class="navbar border-bottom border-dark border-3">
    <div class="container p-7 align-middle">
        <div class="d-flex align-items-center">
            <img src="../assets/images/logo.png" alt="logo">
            <p class="fs-4 ms-3 ">7TAO <span class="fs-7">活動訂票網</span></p>
            <form class="d-flex ms-5">
                <input class="form-control border-dark" type="search" placeholder="探索活動" aria-label="Search" class="">
                <button class="btn btn-dark border-2">
                    <i class="icofont-search-1 text-warning"></i>
                </button>
            </form>
        </div>
        <div class="fs-6">
            <ul class="d-flex">
                <li><a href="#" class="text-dark pe-4">
                    <i class="icofont-ui-file "></i>
                    REGISTER</a>
                </li>
                <li><a href="#" class="text-dark">
                    <i class="icofont-ui-user"></i>
                    LOGIN</a>
                </li>
            </ul>
        </div>
    </div>
</div>