.banner{
  background: url(../images/event/13.jpg) center top;
  background-size: cover;
}

.icon{
  width: 80px;
}

.online{
  height:317px;
  overflow:hidden;

  img{
    margin-top: -30%;
  }
}

.teg{
  border-left: 6px solid #000;
  z-index: 1;
}

.teg:hover::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 30px;
  background-color: #000;
  border-left: 6px solid $yellow;
}

.mt-60 {
  margin-top: 60px;
}
.transform {
  transform: translate(-50%, -50%) rotate(-4deg);
}
.albums li {
  &:nth-child(2n) {
    transform: rotate(2deg);
  }
  &:nth-child(3) {
    transform: rotate(-2deg)
  }
}

.item {
  img {
    object-fit: cover;
    height: 274px;
  }
} // object-fit: cover; cover 是填充滿整個框