.banner{
  background: url(../images/event/13.jpg) center top;
  background-size: cover;
}

.icon{
  width: 80px;
}

.online{
  height:317px;
  overflow:hidden;

  img{
    margin-top: -30%;
  }
}

.mt-60 {
  margin-top: 60px;
}
.h2-transform {
  transform: translate(-50%, -50%) rotate(-4deg);
}
.albums li {
  &:nth-child(2n) {
    transform: rotate(2deg);
  }
  &:nth-child(3) {
    transform: rotate(-2deg)
  }
}
.item {
  img {
    object-fit: cover;
    height: 274px;
  }
}

