<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <!-- iconfont -->
    <link rel="stylesheet" href="../assets/icofont/icofont.css">
    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container">    
      <div class="banner text-light my-8">
        <p class="fs-2 p-9">19 MAY 2023</p>
        <p class="fs-5 mt-11 text-center">隔牆有耳-沒有草東的派對<br><span class="fs-7 pb-7 pt-5">你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</span></p>
      </div>
    </div>

    <div class="container">
      <div class="btn-group row-cols-md-6 row-cols-3" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-dark col border border-2 me-7 py-2">
          <img src="../assets/images/cate01.svg" alt="live" class="icon">
          <p>演出</p>
        </button>
        <button type="button" class="btn btn-outline-dark col border border-2 me-7 py-2">
          <img src="../assets/images/cate02.svg" alt="love" class="icon">
          <p>聯誼</p>
        </button>
        <button type="button" class="btn btn-outline-dark col border border-2 me-7 py-2">
          <img src="../assets/images/cate03.svg" alt="exhibiton" class="icon"> 
          <p>展覽</p>
        </button>
        <button type="button" class="btn btn-outline-dark col border border-2 me-7 py-2">
          <img src="../assets/images/cate04.svg" alt="eat" class="icon">
          <p>美食</p>
        </button>
        <button type="button" class="btn btn-outline-dark col border border-2 me-7 py-2">
          <img src="../assets/images/cate05.svg" alt="outdoor" class="icon">
          <p>戶外</p>
        </button>
        <button type="button" class="btn btn-dark col border border-2 me-7 py-2">
          <p class="fs-3 "></p>
        </button>
     </div>
    </div>

    <div class="container my-8">
      <div class="d-flex align-items-center justify-content-between border border-dark border-3 px-8 py-7">
        <p class="fs-1">RECENT</p>
        <p class="fs-4">近期活動</p>
      </div>
    </div>

    <%- include('./layout/eventcard'); -%>
    <br>
    <br>
    <%- include('./layout/eventcard'); -%>

    <div class="container my-8">
      <div class="d-flex align-items-center justify-content-between border border-dark border-3 px-8 py-7">
        <p class="fs-1">ONLINE</p>
        <p class="fs-4">線上活動</p>
      </div>

      <div class="d-flex mt-5 row ">
        <div class="online col-7">
          <img src="../assets/images/event/online.jpg" alt="onlinejpg" class="img-fluid onlinejpg">
        </div>
        <div class="infor col-5 d-flex flex-column justify-content-between">
          <div class="tittle">
            <p class="fs-4">切特居批踢</p>
            <div class="btn-group" role="group" aria-label="teg">
              <button type="button" class="btn btn-outline-black border border-2 me-2 px-7">競賽</button>
              <button type="button" class="btn btn-outline-black border border-2 me-2 px-7">科技</button>
              <button type="button" class="btn btn-outline-black border border-2 me-2 px-7">有趣</button>
            </div>
          </div>
          <p>最近網路上很流行的AI程式 ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。
          這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。<br>
          該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！</p>
          <button type="button" class="btn btn-dark full">查看活動詳情</button>
        </div>
      </div>
    </div>

    <div class="container">
      <ul class="albums row row-cols-1 row-cols-md-4 mt-60 list-unstyled">
        <li class="col">
          <div class="item border border-2 border-dark p-3 pb-5 position-relative">
            <h2 class="position-absolute top-0 start-50 fs-6 bg-white px-3 py-2 fw-bold h2-transform">社群活動</h2>
            <img src="../assets/images/album/01.jpg" class="img-fluid w-100" alt="社群活動">
            <p class="pt-3">無聲派對-閉閉嘴dancing</p>
          </div>
        </li>
        <li class="col">
          <div class="item border border-2 border-dark p-3 pb-5 position-relative">
            <h2 class="position-absolute top-0 start-50 fs-6 bg-white px-3 py-2 fw-bold h2-transform">藝文活動</h2>
            <img src="../assets/images/album/02.jpg" class="img-fluid w-100" alt="藝文活動">
            <p class="pt-3">搶救老店大作戰</p>
          </div>
        </li>
        <li class="col">
          <div class="item border border-2 border-dark p-3 pb-5 position-relative">
            <h2 class="position-absolute top-0 start-50 fs-6 bg-white px-3 py-2 fw-bold h2-transform">自我覺察</h2>
            <img src="../assets/images/album/03.jpg" class="img-fluid w-100" alt="自我覺察">
            <p class="pt-3">內觀修行-部落篇</p>
          </div>
        </li>
        <li class="col">
          <div class="item border border-2 border-dark p-3 pb-5 position-relative">
            <h2 class="position-absolute top-0 start-50 fs-6 bg-white px-3 py-2 fw-bold h2-transform">聯誼活動</h2>
            <img src="../assets/images/album/04.jpg" class="img-fluid w-100" alt="聯誼活動">
            <p class="pt-3">賞櫻野餐</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="container">
      <ul class="list-unstyled row row-cols-1 row-cols-md-2 g-2">
        <li class="col border border-2">
          <p class="fs-4 py-5 px-8">#FOLLOW US</p>
          <p class="border-top border-2 border-dark pe-2">想第一時間獲得新奇有趣的活動資訊？<br>
            追蹤我們的社群吧！<br>
            也歡迎你聯繫我們，提供好玩有趣的活動企劃。</p>
          <div class="item d-flex align-items-center mb-5">
            <i class="icofont-ui-email me-2 bg-dark text-light p-2 fs-7"></i>
            <p>7tao.event@gmail.com</p>
          </div>
          <div class="item d-flex align-items-center mb-5">
            <i class="icofont-phone me-2 bg-dark text-light p-2 fs-7"></i>
            <p>09123123123</p>
          </div>
          <div class="item d-flex align-items-center mb-5">
            <i class="icofont-facebook me-2 bg-dark text-light p-2 fs-7"></i>
            <p>7TAO七逃</p>
          </div>
        </li>

        <li class="col border border-2">
          <p class="fs-4 py-5 px-8">#subscribe us</p>
          <p class="border-top border-2 border-dark pe-2">訂閱電子報送折價券！<br>
            定期精選文章資訊及最新優惠資訊，<br>
            還不通通給我訂閱起來？</p>

          <button type="button" class="btn btn-dark full py-2 fw-bold fz-6 text-align-beaseline">確認訂閱 > ></button>
        </li>
      </ul>
    </div>

  </div>

  <script type="module" src="../main.js"></script>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <!-- Swiper 套件 -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  </body>
</html>
 